

<div class="card">
  <div class="card-header">
    <h1>About me!</h1>
  </div>
  <div class="card-body">
    <h2><%= @about_me %></h2>
    <p>I was being programming for about 5 years and right now I'm increasing my level of expertise</p>
  </div>
</div>