<div class="card">
  <div class="card-header">
    <h1>Weldocome!</h1>
  </div>
  <div class="card-body">
    <p>In this webpage you can create your own friend's directory. You can add new friends, update your friends and even delete them. Just sign up and start your directory of friends.</p>
  </div>
</div>